body {
    background-image: url("../images/background.jpg");
    font-family: sans-serif;
}

#container {
    background-color: yellow;
    width: 1000px;
    margin: 0 50px 0 50px;
    text-align: center;
}

h1 {
    font-size: 65px;
    color: blue;
    font-weight: bold;
    padding-top: 50px;
    font-family: monospace;
}

.counting {
    font-weight: bold;
}

.button {
    border: 2px solid blue;
    background-color: pink;
    width: 500px;
    margin: 150px;
    height: 90px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 8px;
}

#questionnaire {
    background-color: yellow;
    margin: 70px 0 60px 0;
}

#results-page {
    font-size: 25px;
    margin-top: 120px;
    padding-bottom: 8px;
}

#result-page h2 {
    font-size: 35px;
}